h3 {
  margin-bottom: 1.5rem;
}

button {
  background-color: rebeccapurple;
}

.content {
  margin: 5.125rem auto 2rem;
  max-width: 46.875rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 48rem) {
  h3 {
    margin-left: 1rem;
  }

  .header-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
