<div class="content" role="main">
  <h3> {{ 'homePage.title' | translate }} </h3>
  <div class="header-container">
    <div class="form-check form-switch">
      <input class="form-check-input"
             type="checkbox"
             id="flexSwitchCheckDefault"
             (click)="onToggleSwitch()"
             #checkboxTg>
      <label class="form-check-label" for="flexSwitchCheckDefault">
        {{ 'homePage.button.toggle-switch' | translate }}
      </label>
    </div>
    <button type="button" class="btn btn-primary" (click)="showNewRandomItems()">
      {{ 'homePage.button.fetch' | translate }}
    </button>
  </div>

  <tile-component [randomCrazyPricesItems]="randomCrazyPricesItems$"
                  [grayscaleCssClass]="isToggleSwitchEnabled"></tile-component>

</div>




