<ng-container *ngFor="let randomItem of randomCrazyPricesItems | async; trackBy:trackById">
  <div class="content-container" [ngClass]="grayscaleCssClass">
    <img [attr.src]="randomItem?.images?.lists?.large[0]?.url"
         [attr.id]="'image' + randomItem?.images?.lists?.large[0]?.id"
         [attr.alt]="'Some nice image'">
    <div class="label-container">
      <div> {{ randomItem?.name }} </div>
      <div class="price">
        <strong> {{ randomItem?.priceWithShipping }} {{ 'currency.cz' | translate }} </strong>
      </div>
    </div>
  </div>
</ng-container>
