@import '../../../../../styles/mixins.scss';

:host {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  max-width: 22.938rem;
  max-height: 22.938rem;
  width: 22.938rem;
  height: 22.938rem;
}

.content-container {
  position: relative;
  margin-bottom: 1rem;
}

.grayscale-on {
  filter: grayscale(100%);
}

.grayscale-off {
  filter: grayscale(0%);
}

.label-container {
  background: $back-opac;
  color: white;
  max-width: 22.938rem;
  min-height: 7.75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  text-align: center;
  font-size: 1.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 48rem) {
  :host {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content-container:nth-last-child(2) {
      margin-bottom: 1rem;
    }
  }

}
